<html>
<head>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
<title>Form Pencarian Keberangkatan</title>
<link href="assets/css/index.css" rel="stylesheet">
</head>

<body>
	<h1 class="mantap">Cari Keberangkatan</h1>
	<form th:object="${formData}"
	th:action="@{/carikeberangkatanresult}"
	method="post">
		<div class="form-group">
			<label for="Tanggal">Tanggal</label>
			<input type="text" class="form-control" id="inputtanggal" placeholder="Masukkan tanggal keberangkatan" th:field="*{tanggal}">
		</div>
		<div class="form-group">
			<label for="Terminal_keberangkatan">Terminal Keberangkatan</label>
			<input type="text" class="form-control" id="inputterminalawal" placeholder="Masukan terminal keberangkatan" th:field="*{id_jurusan.terminal_awal}">
		</div>
		<button type="submit" class="btn btn-primary">SUBMIT!!!!!!!!111</button>
	</form>
	</body>